.home {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    height: 100vh;

    background-image: url(../img/home-background.png);
    background-repeat: no-repeat;
    background-size: cover;

    .image {
        position: absolute;
        bottom: 0;
        right: 0;

        max-width: 55%;

        animation: fly 3s infinite;
    }

    .home-content {
        max-width: 45%;
        width: 100%;
        padding-bottom: 150px;

        p {
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;

            color: $secondColor;
            margin-bottom: 16px;
        }

        h1 {
            font-weight: 700;
            font-size: 52px;
            line-height: 64px;

            color: $white;
            margin-bottom: 72px;
        }
    }
}

@keyframes fly {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}