// BREAKPOINTS

$breakpoint-xxl: 1920px;
$breakpoint-xl: 1280px + 0.5;
$breakpoint-lg: 1024px + 0.5;
$breakpoint-md: 800px + 0.5;
$breakpoint-sm: 608px + 0.5;
$breakpoint-xs: 320px + 0.5;

// COLORS

$white: #F5FBF2;
$black: #181818;

$mainColor: #00E3A5;
$secondColor: #80AB9E;