// BREAKPOINTS

$breakpoint-xxl: 1920px;
$breakpoint-xl: 1280px + 0.5;
$breakpoint-lg: 1024px + 0.5;
$breakpoint-md: 800px + 0.5;
$breakpoint-sm: 608px + 0.5;
$breakpoint-xs: 320px + 0.5;

// GUTTERS

$gutter-md: 16px;
$gutter-sm: 4px;

// COLORS

$white: #fff;
$black: #181818;